$bg_base: #fff;

$font_title: 'Volkhov', serif;
$font_read: 'Inter', sans-serif;

$cl_primary: #EC1F27;
$cl_secondary: #FBF038;
$cl_grey: #9D9D9D;
$cl_gray_darken: #6C6C6C;
$cl_white: #fff;
$cl_black: #000000;

$grid_desktop: 660px;
$grid_desktop_large: 820px;
$grid_mobile: 100%;

$size_small: 12.32px;

// break point
$smallphone: 390px;
$mntablet: 768px; 
$mdtablet: 990px; 
$desktop: 1024px;
$desktopxl: 1300px;
$desktophd: 1900px;