.hero {
    min-height: 270px;
    @media (max-width: 992px) {
        min-height: 135px;
    }
    &-home {
        min-height: 700px;
        @media (max-width: 992px) {
            min-height: 290px;
        }
    }
    img {
        width: 100vw;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
}